#dropdownMenu2{

dropdown-dark-color:gray-300;
dropdown-dark-bg:gray-800;
dropdown-dark-border-color:dropdown-border-color;
dropdown-dark-divider-bg:dropdown-divider-bg;
dropdown-dark-box-shadow:null;
dropdown-dark-link-color:dropdown-dark-color;
dropdown-dark-link-hover-color:white;
dropdown-dark-link-hover-bg:rgba($white, .15);
dropdown-dark-link-active-color:dropdown-link-active-color;
dropdown-dark-link-active-bg:dropdown-link-active-bg;
dropdown-dark-link-disabled-color:gray-500;
dropdown-dark-header-color:gray-500;




}



